<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Data Trainer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Custom Data Trainer</h1>
    <div class="top_div">
        <ol>
            <h1>How to use:</h1>
            <li>Gather the pictures you wish to use to train the model.</li>
            <li>Make new Folder named <i>FolderTrain</i> in google drive and make its visiblity public from share option.<br>
                <img src="folderpublic.png" alt="">
            </li>
            <li>Upload the collected images in the given format:
                <ol type="a">
                    <li>Make two folder named <i>Training</i> and <i>Validation</i> <br>
                        <img src="validandtrain.png" alt="">
                    </li>
                    <br><br>
                    <li>Inside training and validation folder make seperate folders for each class or label. (For eg: if want to train model for Classification of diffent denominations then make seperate folders named 300_notes, 500_notes etc inside training
                        and validation folder both.)<br>
                        <img src="validfolder.png" alt=""> &nbsp <img src="trainfolder.png" alt="">
                    </li>
                    <br><br>
                    <li>
                        Upload all your images into their respective classes or labels in both. (For eg: all the 500rs notes in 500_notes folder.)<br>
                        <img src="notes.png" alt="">
                    </li>
                </ol>
            </li>
            <li>Copy the FolderTrain Link from share option. <br>
                <img src="copylink.png" alt="">
            </li>
        </ol>
    </div>

</body>

</html>